*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    overflow-x: hidden;
     background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* HEADER ################## */


header
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
}

header nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img
{
    width: 20px;
    height: 20px;
}

header a
{
    color: white;
    text-decoration: none;
}

header a img
{
    padding-right: 5px;
}

header input
{
    background-color: inherit;
    border: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
}

header input:hover
{
    cursor: pointer;
}

header nav a:hover, header nav form:hover
{
    background-color: rgba(255, 255, 255, 0.132);
    border-radius: 3px;
}

/* MAIN ######################## */

main
{
    padding-top: 2vh;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 3vw;
    padding-right: 3vw;
}

main h1
{
    text-align: center;
    margin: 3px;
}

main p, main ul
{
    margin-bottom: 3vh;
}

main li
{
   margin-left: 2vw;
}


.page-menu
{
    display: flex;
    justify-content: center;
}

.page-menu *
{
    margin: 3px;
}

.index-message
{
    background-color: yellow;
    width: 100vw;
    text-align: center;
}

.form-profil, .connexion-form
{
    display: flex;
    flex-direction: column;
}

form input[type=submit]
{
    margin-top: 1vh;
}

/* LIVRE OR ######################## */

.comment-card
{
    
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    width: 92vw;
    padding: 1%;
    display: flex;
    min-height: 15vh;
    box-shadow: #42275a 2px 2px 4px;
    color: white;
}

.comment-info
{

    width: 20%;
    padding-right: 5%;
    padding-left: 2%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    border-right: 3px solid white;
    font-size: 0.7rem;
}

.comment-content
{
 
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-content > p
{
    border-top: 1px solid white;
    text-align: center;
}

.comment-form
{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid black;
}

.comment-form *
{
    margin:1vw;
}

.main-links
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer
{
    width: 100wv;
    text-align: center;
    background-color: black;
    color: white;
}

footer a
{
    color: white;
}

/* DESKTOP OR LARGE SCREENS */
@media (width > 700px){
    header 
    {
        flex-direction: row;
        height: 10vh;
        justify-content: space-around;
    }

    header nav
    {
        flex-direction: row;
        gap: 2vw;
    }

    input[type=textarea], input[type=submit]
    {
        height: 5vh;
    }
}