*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    overflow-x: hidden;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER ################## */


header
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
}

header nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img
{
    width: 30px;
    height: 30px;
}

header a
{
    color: white;
    text-decoration: none;
}

header a img
{
    padding-right: 5px;
    vertical-align: middle;
}

header input
{
    background-color: inherit;
    border: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
}

header input:hover
{
    cursor: pointer;
}

nav > a, nav > form
{
    padding: 4px;
}

header nav a:hover, header nav form:hover
{
    background-color: rgba(255, 255, 255, 0.132);
    border-radius: 3px;
    transform: translateY(-3px);
    box-shadow: 2px 2px 4px black ;
}

/* MAIN ######################## */

main
{
    padding-top: 2vh;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 3vw;
    padding-right: 3vw;
    flex: 1;
}

main h1
{
    text-align: center;
    margin: 3px;
}

main > h1:hover
{
    animation: spac 2s ease forwards;
}

main > h1:not(:hover)
{
    animation: spac_rev 2s ease forwards;
}

@keyframes spac 
{
    from
    {
        letter-spacing: default;
        color: black;
    }
    to {
        letter-spacing: 0.2rem;
        color: rgb(204, 173, 0);
        text-shadow: 1px 1px 2px black;
    }
}

@keyframes spac_rev
{
    from
    {
        letter-spacing: 0.2rem;
        color:rgb(204, 173, 0);
        text-shadow: 1px 1px 2px black;
    }
    to {
        letter-spacing: default;
        color: black;
    
    }
}

.main-container
{
    padding: 3vw;
    border-radius: 30px;
    box-shadow: 1px 1px 2px black;
}

main p, main ul
{
    margin-bottom: 3vh;
}

main li
{
   margin-left: 2vw;
}


/** PAGE MENU **/

.page-menu
{
    display: flex;
    justify-content: center;
}

.page-menu *
{
    margin: 3px;
}

.page-menu > p, .page-menu > a
{
    padding: 3px;
    color: white;
    text-decoration: none;
}

.page-menu > a:hover
{
    transform: translateY(-2px);
    box-shadow: 1px 1px 2px black;
}

.button-prev-page
{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-next-page
{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-current-page
{
    background: #373B44;
}

.index-message
{
    background-color: yellow;
    width: 100vw;
    text-align: center;
}

.form-profil, .connexion-form
{
    display: flex;
    flex-direction: column;
}

form input[type=submit]
{
    margin-top: 1vh;
    vertical-align: 60%;
}

/* LIVRE OR ######################## */

.comment-card
{
    
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    width: 92vw;
    padding: 5px;
    display: flex;
    min-height: 15vh;
    box-shadow: #010002 2px 2px 4px;
    color: white;
}

.comment-info
{

    width: 20%;
    padding-right: 5%;
    padding-left: 2%;
    display: flex;  
    flex-direction: column;
    align-items: left;
    border-right: 3px solid white;
    font-size: 0.7rem;
}

.comment-info-user
{
    color: rgb(205, 216, 2);
}

.comment-content
{
 
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-content > p
{
    /*border-top: 1px solid white; */
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.comment-form
{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid black;
}

.comment-form *
{
    margin:1vw;
}

.main-links
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-links > a
{
    text-decoration: none;
    color: white;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome */
    padding: 5px;
    border-radius: 4px;
}

.main-links > a:nth-child(even)
{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome */
}

.main-links > a:hover
{
    transform: translateY(-2px);
    box-shadow: 1px 1px 2px black;
}


/****** FOOTER ****/

footer
{
    width: 100wv;
    text-align: center;
    background-color: black;
    color: white;
    position: sticky;
}

footer a
{
    color: white;
}

/* DESKTOP OR LARGE SCREENS */
@media (width > 700px){
    header 
    {
        flex-direction: row;
        height: 10vh;
        justify-content: space-around;
    }

    header nav
    {
        flex-direction: row;
        gap: 2vw;
    }

    input[type=textarea], input[type=submit]
    {
        height: 5vh;
    }
}